/* SliderComponent.css */
.slider-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4d4c4cf6; /* Unified background color */
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit; /* Inherit from the container */
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.arrow-left, .arrow-right {
    display: none;
}



