/* index.css */
:root {
  --primary-color: #4d4c4cf6;
  --text-color: #ffffff;
  --accent-color: #70868E;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c3c5c1;
}

/* slider-section */
.slider-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--text-color);
  z-index: 1000;
}

.projects-container, .experience-container, .contact-container {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .projects-list, .experience-list {
      flex-direction: column;
      gap: 20px;
  }

  .contact-form {
      padding: 10px;
  }

  h1 {
      font-size: 2rem;
  }
}